In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '../Data/2018_rc_data.xlsx'
xl = pd.ExcelFile(path)
sheet_names = xl.sheet_names
sheet_names

['READ ME_Instructions',
 'ACT',
 'achievement',
 'discipline',
 'chronic_absenteeism',
 'CTE',
 'dropout',
 'ELPA',
 'enrollment',
 'finance',
 'grad_rate',
 'growth',
 'growth_subjects',
 'indicator_level_grades',
 'long_term_ell',
 'overall_grades',
 'postsec_enrollment',
 'ready_grad',
 'staffing',
 'success_rate',
 'teacher_retention',
 'district_info',
 'school_info']

In [3]:
for sheetname in sheet_names:
    if sheetname != 'READ ME_Instructions':
        vars()['df' + sheetname] = pd.read_excel(path, sheet_name= sheetname)

In [19]:
dfenrollment.head()

,district_number,district_name,school_number,school_name,year,subgroup,grades_served,value,value_previous
0,0,State of Tennessee,0,NaN,2018,Homeless,Grades K-12,1.3,NaN
1,0,State of Tennessee,0,NaN,2018,American Indian or Alaskan Native,Grades K-12,0.4,NaN
2,0,State of Tennessee,0,NaN,2018,All Students,Grades K-12,975222.0,NaN
3,0,State of Tennessee,0,NaN,2018,Students with Disabilities,Grades K-12,13.6,NaN
4,0,State of Tennessee,0,NaN,2018,Economically Disadvantaged,Grades K-12,36.1,NaN

In [20]:
enrollment =  dfenrollment [['district_name','school_name', 'subgroup', 'value']]

In [22]:
dfoverall_grades

,district_number,district_name,school_number,school_name,year,subgroup_overall,pool,final_score,all_students_overall,score_achievement,score_growth,score_absenteeism,score_elpa,score_grad,score_ready_grad
0,10,Anderson County Schools,2,Anderson County High School,2018,NaN,HS,NaN,NaN,1.6,3.1,1.4,NaN,3.2,3.0
1,10,Anderson County Schools,5,Andersonville Elementary,2018,NaN,K8,NaN,NaN,2.2,3.6,2.4,NaN,NaN,NaN
2,10,Anderson County Schools,10,Briceville Elementary,2018,NaN,K8,NaN,NaN,3.0,3.8,0.0,NaN,NaN,NaN
3,10,Anderson County Schools,15,Claxton Elementary,2018,NaN,K8,NaN,NaN,3.2,3.6,0.0,NaN,NaN,NaN
4,10,Anderson County Schools,20,Clinton Middle School,2018,NaN,K8,NaN,NaN,2.0,0.1,1.1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,985,Achievement School District,8130,Memphis Scholars Raleigh-Egypt,2018,NaN,K8,NaN,NaN,2.8,3.7,3.2,NaN,NaN,NaN
1745,985,Achievement School District,8135,Kirby Middle School,2018,NaN,K8,NaN,NaN,2.9,3.9,2.2,3.7,NaN,NaN
1746,985,Achievement School District,8140,Hillcrest High School,2018,NaN,HS,NaN,NaN,1.0,0.3,1.3,4.0,NaN,NaN
1747,985,Achievement School District,8145,Rocketship Partners Community Prep,2018,NaN,K8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,986,Tennessee State Board of Education,8005,Bluff City High School,2018,NaN,K8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
school_scores=  dfoverall_grades [['district_name','school_name', 'score_achievement', 'score_growth', 'score_absenteeism', 'score_elpa', 'score_grad']]

In [ ]:
post_sec =  dfpostsec_enrollment [['district_name','school_name', 'subgroup', 'value']]

In [24]:
post_sec = dfpostsec_enrollment.iloc[: , [1, 3, 5, 6,7, 8, 9]].copy()

In [26]:
post_sec

,district_name,school_name,subgroup,percent_4yr_ps,percent_any_ps,percent_2yr_ps,percent_tcat_ps
0,State of Tennessee,NaN,All Students,35.8,64.1,25.5,2.7
1,State of Tennessee,NaN,Black/Hispanic/Native,33.6,57.1,22.3,1.2
2,State of Tennessee,NaN,Economically Disadvantaged,21.4,46.8,22.8,2.6
3,State of Tennessee,NaN,English Learners,17,40.2,21.8,1.4
4,State of Tennessee,NaN,Students with Disabilities,9.2,38.3,23.5,5.5
...,...,...,...,...,...,...,...
9480,Tennessee State Board of Education,Bluff City High School,All Students,*,*,*,*
9481,Tennessee State Board of Education,Bluff City High School,Black/Hispanic/Native,*,*,*,*
9482,Tennessee State Board of Education,Bluff City High School,Economically Disadvantaged,*,*,*,*
9483,Tennessee State Board of Education,Bluff City High School,English Learners,*,*,*,*
9484,Tennessee State Board of Education,Bluff City High School,Students with Disabilities,*,*,*,*

In [5]:
teacher_survey = pd.read_excel('../Data/2018 _Teacher_Survey.xlsx')

In [6]:
teacher_survey.head()

,Number,DistrictNo,DistrictName,SchoolNo,SchoolName,School-Level Teacher Response Rate,Item_18,Topic,FullQuestion,Prompt,...,Moderately consistent,Very consistent,I don't know,"For now, I am unconvinced that RTI2 will improve student learning in my school.","I have seen positive results, but the program needs significant improvement.",I strongly believe that RTI2 has and will continue to improve student learning.,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,1,10,Anderson County,5,Andersonville Elementary,0.565217,TC_01a,School Climate and Leadership,Please indicate the extent to which you agree ...,There is an atmosphere of trust and mutual res...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10,Anderson County,5,Andersonville Elementary,0.565217,TC_01b,School Climate and Leadership,Please indicate the extent to which you agree ...,Staff at this school have an effective process...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,10,Anderson County,5,Andersonville Elementary,0.565217,TC_01c,School Climate and Leadership,Please indicate the extent to which you agree ...,Teachers are encouraged to participate in scho...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,10,Anderson County,5,Andersonville Elementary,0.565217,TC_01d,School Climate and Leadership,Please indicate the extent to which you agree ...,The staff at this school like being here; I wo...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,10,Anderson County,5,Andersonville Elementary,0.565217,TC_01e,School Climate and Leadership,Please indicate the extent to which you agree ...,I feel appreciated for the job that I am doing.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
unique_questions = teacher_survey.Prompt.nunique()

In [18]:
unique_questions

52

AttributeError: 'numpy.ndarray' object has no attribute 'nunique'