In [1]:
import pandas as pd
import numpy as np

In [10]:
path = '../Data/2018_rc_data.xlsx'
xl = pd.ExcelFile(path)
sheet_names = xl.sheet_names
sheet_names

['READ ME_Instructions',
 'ACT',
 'achievement',
 'discipline',
 'chronic_absenteeism',
 'CTE',
 'dropout',
 'ELPA',
 'enrollment',
 'finance',
 'grad_rate',
 'growth',
 'growth_subjects',
 'indicator_level_grades',
 'long_term_ell',
 'overall_grades',
 'postsec_enrollment',
 'ready_grad',
 'staffing',
 'success_rate',
 'teacher_retention',
 'district_info',
 'school_info']

In [11]:
for sheetname in sheet_names:
    if sheetname != 'READ ME_Instructions':
        vars()['df' + sheetname] = pd.read_excel(path, sheet_name= sheetname)

In [13]:
dfgrowth.head()

,district_number,district_name,school_number,school_name,year,subgroup,tvaas_index,tvaas_index_previous,baseline_year
0,0,State of Tennessee,0,NaN,2018,All Students,NaN,NaN,NaN
1,10,Anderson County Schools,0,NaN,2018,All Students,3.0,NaN,NaN
2,10,Anderson County Schools,2,Anderson County High School,2018,All Students,5.0,NaN,NaN
3,10,Anderson County Schools,2,Anderson County High School,2018,Black/Hispanic/Native,3.0,NaN,NaN
4,10,Anderson County Schools,2,Anderson County High School,2018,Economically Disadvantaged,3.0,NaN,NaN